[paths]
source =
   src
   */site-packages

[run]
branch = true

parallel = true
omit = 
    tests/*
    */__init__.py
    */__main__.py
{%- if cookiecutter.c_extension_support == 'cython' %}
plugins = Cython.Coverage
{%- endif %}

[report]
show_missing = true
precision = 2
omit = *migrations*
