.gitlab/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.hypothesis/
build/
docs/
logs/
tests/
Dockerfile
README.md
CONTRIBUTING.md
.gitlab-ci.yml
.dockerignore
.gitignore
*.pyc
*.pyo
*.pyd
*.spec
*.log
*.egg-info/
**/__pycache__
**/.git
